.myinput {
	width:85%;
	float: left;
	margin-top: 20px;
}
.mybtn{
	margin-top:20px;
	width:12%;font-size: 10px;
	text-align: center;
	/*padding:6px;*/
	margin-left: 20px
}
.wrapper{
	margin-top: 30px;
	width:700px;
	height:420px;
	overflow:hidden;
	position:relative;
}
.iframe{
	width:1024px;
	height:2010px; 
	position:absolute; 
	top:-1580px; 
	right:-302px;
}
#bili_iframe{
	width:700px;
	margin:0 auto;
}
.back{
	background: #eee no-repeat;
	opacity: 0.4;
	height:1700px;
}
.canvas{
	background-color: #ccc;
	opacity: 1;
	width:800px;
	height: 300px;
}
/*scorll*/
.face {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto;
    	overflow: hidden;
}
/*end of scorll*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}
#province,#city,#county{
	margin: 10px;
}
.cityselect{
	width:400px;
}
#top_tag,#top1,#top2,#top3,#top4,#top5,#top6,#top7,#top8,#top9,#top10{
	color: red;font-weight: 500;
	text-shadow:0px 0px 20px white;
}
.a{
	font-weight: 500;
	text-shadow:0px 0px 20px white;
}
#isBiliframe,#isWeibotop10,#isWeather{
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	margin-left:13.7%;
	background-color: rgba(37,37,37,0.5);
	height: 41px;
	width: 66.6%;
	min-width: 800px;

	font-size: 12px;
	color: white;

	z-index:100;

	text-align: center;
}
#footer>span {
	opacity: 0.8;
	display: block;
	margin-top: 15px;
}